[project]
version = "0.0.1"
requires-python = ">={{ python_version }}"
name = "{{ project_slug }}"
description = "{{project_name}}"
{% if license != "None" %}license.file = "LICENSE"{% endif %}
dependencies = []
authors = [
  { name = "{{ full_name }}", email = "{{ email }}" },
]
classifiers = ["Programming Language :: Python :: {{ python_version }}"]

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.optional-dependencies]
dev = [
  "ruff",
  "pyright",
  "pytest",
  "pytest-asyncio",
  "pytest-cov",
  "pytest-sugar",
  "pytest-testmon",
  "pytest-xdist",
]

[project.urls]
homepage = "https://github.com/{{github_username}}/{{project_slug}}"
repository = "https://github.com/{{github_username}}/{{project_slug}}"
documentation = "https://{{github_username}}.github.io/{{project_slug}}/"

[build-system]
requires = ["setuptools>=61.0.0", "wheel", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = true

[tool.setuptools.package-data]
"*" = ["py.typed", "*.pyi"]

{% if release_to_pypi %}[tool.semantic_release]
branch = "main"
version_toml = ["pyproject.toml:project.version"]
build_command = "python -m pip install build; python -m build"
{% endif %}